# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\lap trinh\Codegym\bai_tap\Module_2.1\1. Introduction to Java\[Thực hành] Hiển thị thời gian của hệ thống\SystemTime\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
